.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 28px;
  justify-content: center;
}

.card {
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.detailsButton {
  display: inline-block;
  margin-top: 10px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.detailsButton:hover {
  background-color: #0056b3;
}
.loadMoreButton {
  height: 44px;
  width: 156px;
  border-radius: 12px;
  padding: 12px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 1px solid #3470ff;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.loadMoreButton span {
  color: #101828;
  text-align: center;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  line-height: 20px;
  width: 80px;
}
.loadMoreWrapper {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}
.spinner {
  width: 20px;
  height: 20px;
  border: 2px solid #3470ff;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
