.hero {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/hero-car.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.overlay {
  text-align: center;
  color: white;
  max-width: 800px;
  padding: 0 20px;
}

.overlay h1 {
  color: #ffffff;
  text-align: center;
  vertical-align: text-middle;
  font-size: 60px;
  font-family: Manrope;
  line-height: 72px;
  border-style: hidden;
  outline: none;
  width: 783px;
}

.overlay p {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 40px;
  color: white;
}

.ctaButton {
  background-color: #3470ff;
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 20px 40px;
  border: none;
  border-radius: 12px;
  text-decoration: none;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

.ctaButton:hover {
  background-color: #2556cc;
}
